@page
@model EstimadorBM.Pages.Presupuesto.PreciosModel
@{
	ViewData["Title"] = "Presupuestos 73 Precios";
}

<div class="container">
	<h3>Precios en: @Model.ProveedorName</h3>
</div>

<div class="container">
	<table id="mainTable" class="table table-hover">
		<tr>
			<th scope="col">Tipo</th>
			<th scope="col">Marca</th>
			<th scope="col">Presentación (ml)</th>
			<th scope="col">Precio</th>
		</tr>
		<tbody>
			<tr>
				<td>
					<select class="form-select" aria-label="Selector de tipo de ingrediente">
						@foreach(var i in Model.ingredientes)
						{
							<option value=@i.id>@i.name</option>
						}
					</select>
				</td>
				<td>Branca</td>
				<td>1000</td>
				<td>$5000</td>
			</tr>
		</tbody>
	</table>
</div>
