html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*header {
    background-color: brown;
}*/


/*footer.custom {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: brown;
    margin-bottom: 0px;
    text-align: center;
    padding: .5rem .8rem;
}


body.custom {
    margin: 0;
    display: block;
    background-color: rgb(87, 12, 12);
}*/